<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee|Open+Sans&display=swap" rel="stylesheet">
    <title>Hutzler 571 Banana Slicer</title>
</head>
<body>
<main>
<header class="cont">
    <h2>amazing<br>banana slicer</h2>
</header>
<section id="whatis">
<img src="images/cutting.jpg" alt="real-banana">
<h2>definitely you need this!<br> 
    Even if you don't eat bananas!</h2>
</section>
<div class="banner"><h2>here’s some<br>
    awesome reviews!</h2></div>
<article id="reviews">
<secition class="flex-box">
        <section class="wrapper">
    <img src="images/slicer1.jpeg" alt="review1">
    <div class="review-hover"><p>Couldn’t live without this I don’t eat bananas but now I can slice them.</p></div></section>
        <section class="wrapper">
        <img src="images/slicer2.jpeg" alt="review2">
        <div class="review-hover"><p>For decades I have been trying to come up with an ideal way to slice a banana. 
        "Use a knife!" they say. Well...my parole officer won't allow me to be around knives. 
        "Shoot it with a gun!" Background check...HELLO! I had to resort to carefully attempt to slice those bananas with my bare hands. 
        99.9% of the time, I would get so frustrated that I just ended up squishing the fruit in my hands and throwing it against the wall in anger. 
        Then, after a fit of banana-induced rage, my parole officer introduced me to this kitchen marvel and my life was changed. 
        No longer consumed by seething anger and animosity towards thick-skinned yellow fruit, 
        I was able to concentrate on my love of theatre and am writing a musical play about two lovers from rival gangs that just try to make it in the world. 
        I think I'll call it South Side Story. Banana slicer...thanks to you, I see greatness on the horizon.</p></div>
    </section>
    </secition> <!--the first container ends-->
    <section class="flex-box">
    <section class="wrapper">
    <img src="images/yellow.jpg" alt="review3">
    <div class="review-hover"><p>This slicer is the best! 
    For years my household would draw lots as to who would have to slice the banana.
    More than once this lead to lots of blood and a trip to the emergency room. 
    Now we don't have to worry about loosing a finger or an occasional body part. 
    Slicing bananas no longer resembles a scene from the Texas Chainsaw Massacre. 
    Thank you Huzler 571! If only we'd found this product sooner my wife would be able to wear
    her wedding band on the correct finger and junior wouldn't be known as "3 finger Jack". 
    Better late than never I say!</p></div></section>
    <section class="wrapper">
    <img src="images/cutter_from_amazon.jpg" alt="review4">
    <div class="review-hover">
    <p>If you are ever worried about having to go back to the tedious chore of slicing bananas with a knife, 
        fear no more! The Hutzler 571 banana slicer will never fail you, even in a power outage! If you are worried that your sliced banana presentation is sloppy, 
        this is the tool for you- uniform slices every time! Although it tends to sit idle more often that not, 
        it gives the ambiance of my junk drawer a certain "je ne sais quoi" that's essential for a junk drawer 
        that will impress everyone. It doubles as a cat scratcher, so I'm never worried about how much I paid, 
        since it does double-duty and earns it's investment back in no time! 
        Glad I purchased the Hutzler 571- you can't go wrong with this little tool!</p></div>
    </section></section>
</article>
<div class="buy">
    <button class="buy-btn"><a href="https://www.amazon.ca/Hutzler-3571-571-Banana-Slicer/dp/B0047E0EII/ref=sr_1_1?gclid=Cj0KCQjwrfvsBRD7ARIsAKuDvMNS99PAHQS0ivPShhvNe7ZUpQbPxzws-srj3hja03DFLkWlt9bYk64aApfVEALw_wcB&hvadid=208315514367&hvdev=c&hvlocphy=9060792&hvnetw=g&hvpos=1t1&hvqmt=e&hvrand=6419537434262140132&hvtargid=aud-749198100380%3Akwd-298843631462&hydadcr=21265_9444704&keywords=hutzler+571+banana+slicer&qid=1570743271&sr=8-1">Go To Buy</a></button>
</div>
<footer id="footer">
    <p>All reviews and images from Google and Amazon.<br>
            Do not use for any other purposes.<br><br>
            <a href="mailto: s_lee77176@fanshaweonline.a">Send Email</a></p>

</footer>

</main>
</body>
</html>